<link rel="stylesheet" href="css/formulario.css">
<form action="/add" method="POST">
        <div class="form">
            <p>Titulo:</p>
            <input type="text" id="titulo" name="titulo">
            <p>Conteúdo:</p>
            <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
            <button type="submit">Cadastrar Postagem</button>
        </div>
</form>