<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
    <h1 class="list">Listas de Histórias</h1>
    <a href="/formulario"><button>Criar Postagem</button></a>
    </header>
    
    
    <section>
        {{#each posts}}
            <div class="posts">
            
            <h1 class="titulo">{{titulo}}</h1>
            <p>{{conteudo}}</p>
            <a href="/deletar/{{id}}"><button>Deletar</button></a>
            
            </div>
        {{/each}}
    </section>
    

</body>
</html>






